body {
  align-items: center;
  /* Zarovná prvky na střed. */
  font-family: Arial, sans-serif;
  /* Nastaví font. */
  background-image: url("bg-m.jpg");
  /* Nastaví obrázek pozadí. */
  background-repeat: no-repeat;
  /* Nastaví obrázek pozadí tak, aby se neopakoval. */
  background-attachment: fixed;
  /* Připevní obrázek na pozadí k posuvnému prvku. */
  background-size: 100% 100%;
  /* Změní velikost obrázku na pozadí tak, aby pokryl celou oblast zobrazení. */
  z-index: -1;
  /* Umístí obrázek na pozadí za všechen další obsah. */
}

footer p{
  font-size: 15px;
  /* Nastaví velikost písma */
}

/* Naformátování  */
h1,p,a {
  font-size: 20px;
  /* Nastaví velikost písma */
  color: white;
  /* Nastaví barvu textu */
  display: flex;
  /* Flexibilní uspořádání */
  justify-content: center;
  /* Horizontální zarovnání na střed */
  text-align: center;
  /* Zarovnání na střed */
}

  /* Navigační lišta */
nav {
  position: fixed;
  /* Fixní pozice na obrazovce */
  top: 125px;
  /* Vzd1álenost od horního okraje */
  width: 100%;
  /* Celá šířka obrazovky */
  display: flex;
  /* Flexibilní uspořádání */
  justify-content: center;
  /* Horizontální zarovnání na střed */
  z-index: 2;
  /* Umístění nad většinou obsahu */
  background-color: rgba(0, 0, 0, 0.658);
  /* Barva pozadí */
}

/* Najedení myší na navigační lištu */
nav a {
  text-decoration: none;
  /* Odstranění podtržení */
  color: white;
  /* Barva textu */
  padding: 10px 15px;
  /* Odsazení */
  font-weight: bold;
  /* Ztučnění */
  border: 1px solid #ddd;
  /* Ohraničení */
  border-radius: 10px;
  /* Zaokrouhlení rohů */
  margin: 0 5px;
  /* Vnější odsazení */
  font-size: 20px;
  /* Velikost písma */
  background: black;
  /* Barva pozadí */
}

/* Najedení myší na navigační lištu */
nav a:hover {
  background: #ddd;
  /* Barva pozadí při najetí myší */
  color: black;
  /* Barva textu při najetí myší */
}

/* Nadpis */
.content-main {
  display: flex;
  /* Flexibilní uspořádání */
  flex-direction: column;
  /* Vertikální uspořádání */
  align-items: center;
  /* Vertikální zarovnání na střed */
  padding-top: 50px;
  /* Horní odsazení */
}

/* Nadpis */
.centered-content {
  display: flex;
  /* Flexibilní uspořádání */
  align-items: center;
  /* Vertikální zarovnání na střed */
}

.pfp img {
  max-width: 150px;
  /* Maximální šířka obrázku */
}

.pfp img {
  transition: transform 50s ease;
  /* Umonžní svižný přechod */
}

.pfp img.flipped {
  transform: rotate(18000deg);
  /* Otáčení */
}



/* Změna rozhraní pro pc */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("bg.jpg");
    /* Alternativní obrázek pozadí */
  }

  .pfp img {
    max-width: 400px;
    /* Změna maximální šířky obrázku */
  }

  nav a {
    font-size: 20px;
    /* Změna velikosti písma */
  }

  h1 {
    font-size: 32px;
    /* Změna velikosti písma */
  }
  .team {
    justify-content: space-between;
    /* Horizontálně zarovná karty na koncích */
  }
}

/*___________________Animace karet___________________*/

.team {
  z-index: 1;
  /* Umístění nad obsah */
  display: flex;
  /* Flexibilní uspořádání */
  flex-wrap: wrap;
  /* Umožňuje položkám týmu zalomit se na další řádek */
  margin: 70px auto;
  /* Vnější odsazení a automatické centrování */
  position: relative;
  /* Potřebné pro vrstvení karet */
  max-width: 1300px;
  /* Maximální šířka sekce týmu */
  padding: 10px;
  /* Vnitřní odsazení */
  justify-content: center;
  /* Horizontálně zarovná karty na koncích */
}

.team .card {
  position: relative;
  /* Potřebné pro vrstvení v hover efektu */
  cursor: pointer;
  /* Změní kurzor na ukazováček při najetí */
  text-align: center;
  /* Zarovná text na střed karet */
  padding: 10px;
  /* Vnitřní odsazení karet */
}

.team .card .side {
  width: 350px;
  /* Šířka karet */
  height: 350px;
  /* Výška karet */
  transition: 0.5s;
  /* Animace přechodu */
}

.team .card .side.side1 {
  display: flex;
  /* Flexibilní uspořádání */
  justify-content: center;
  /* Horizontálně zarovná karty na koncích */
  align-items: center;
  /* Zarovná text na střed karet */
  z-index: 1;
  /* Umístí přední stranu na vrch */
  transform: translateY(200px);
  /* Počáteční pozice přední strany */
  position: relative;
  /* Potřebné pro vrstvení karet */
  background: #5f0000;
  /* Nastaví barvu pozadí */
}

.team .card:hover .side.side1 {
  background: rgb(107, 0, 0);
  /* Nastaví barvu pozadí */
  transform: translateY(0px);
  /* Animace posunutí karet při najetí */
}

.team .card .side.side2 {
  padding: 20px;
  /* Odsazení */
  box-sizing: border-box;
  /* Správné výpočty velikosti s ohledem na padding */
  box-shadow: 0 20px 20px rgba(104, 0, 0, 0.8);
  /* Stín zadní strany */
  transform: translateY(-150px);
  /* Počáteční pozice zadní strany */
  position: relative;
  /* Potřebné pro vrstvení */
  background: #610000;
  /* Barva pozadí zadní strany */
  display: flex;
  /* Flexibilní uspořádání */
  justify-content: center;
  /* Horizontální zarovnání na střed */
  align-items: center;
  /* Vertikální zarovnání na střed */
}

.team .card:hover .side.side2 {
  transform: translateY(0px);
  /* Animace posunutí karet při najetí */
}

.team .card .side.side2 .img-info p {
  font-size: 18px;
  /* Velikost písma */
}

.team .card .side.side1 .img-info {
  opacity: 0.5;
  /* Nastaví průhlednost */
  transition: 0.5s;
  /* Animace přechodu průhlednosti */
}

.team .card:hover .side.side1 .img-info {
  opacity: 1;
  /* Průhlednost při najetí */
}

.team .card .side.side1 .img-info img {
  width: 80%;
  /* Šířka obrázku na přední straně karty */
}

.team .card .side.side1 .img-info h3 {
  text-align: center;
  /* Zarovnání na střed */
  font-size: 1.5em;
  /* Velikost písma */
  margin: 10px 0 0;
  /* Vnější odsazení */
  padding: 0;
  /* Odstranění vnitřního odsazení */
  color: #fff;
  /* Nastaví barvu textu */
}

/*___________________Hamburger menu z hodiny___________________*/

body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 100px;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
  position: relative;
  background-color: none;
}
header .wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  padding: 0 10px;
  background: none;
  z-index: 10;
  position: relative;
}
header .wrapper-logo {
  width: 50px;
  height: 50px;
}
header .wrapper-logo img {
  width: 100%;
  height: 100%;
}
header .wrapper-hamburger {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  transition: transform ease 1s;
}
header .wrapper-hamburger span {
  transition: transform ease 1s;
  transition: ease 1s;
  border: 2px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  header .wrapper-hamburger {
    display: none;
  }
}
header .wrapper .is-active {
  transform: rotate(360deg);
}
header .wrapper .is-active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 13px);
}
header .wrapper .is-active span:nth-child(2) {
  opacity: 0;
}
header .wrapper .is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -13px);
}
header nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-350px);
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  padding: 16px 0;
  transition: transform ease 1s;
}
header nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: ease 0.3s;
}
@media only screen and (min-width: 768px) {
  header nav {
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    padding-right: 60px;
    transform: translate(-50%, -150%);
    max-width: 1300px;
    background: none;
    box-shadow: none;
  }
  header nav a:hover {
    color: #f00;
  }
}
header .is-open {
  transform: translateX(-50%) translateY(0px);
}
